<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_saved_video.user %>
</p>

<p>
  <strong>Video:</strong>
  <%= @user_saved_video.video %>
</p>

<%= link_to 'Edit', edit_user_saved_video_path(@user_saved_video) %> |
<%= link_to 'Back', user_saved_videos_path %>
