<!DOCTYPE html>
<html>
  <head>
    <title>DanceyPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="icon" type="image/png" sizes="32x32" href="https://prod-static.disney-plus.net/us-east-1/builds/a463e33dd9707fa95c24757db72293ec18ad592d_1596466151533/images/favicons/favicon-32x32.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
